<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="glit.onetable.mapper.AuthMapper">
	<insert id="registerInsert" parameterType="User">
		INSERT INTO user (userUUID, token, id, pw, nickname, email, birthday, regTime) VALUES (UNHEX(REPLACE(UUID(), '-', '')), #{token}, #{id}, #{pw}, #{nickname}, #{email}, #{birthday}, CURRENT_TIMESTAMP)
	</insert>
	
	<select id="login" parameterType="User" resultType="User">
		SELECT token FROM user where id = #{id} and pw = #{pw}
	</select>
	
	<select id="registerDuplicateId" resultType="int" parameterType="String">
		SELECT EXISTS(SELECT 1 FROM user WHERE id = #{id} LIMIT 1) as count
	</select>
	
	<select id="registerDuplicateEmail" resultType="int" parameterType="String">
		SELECT EXISTS(SELECT 1 FROM user WHERE email = #{email} LIMIT 1) as count
	</select>
	
	<select id="registerDuplicateNickname" resultType="int" parameterType="String">
		SELECT EXISTS(SELECT 1 FROM user WHERE nickname = #{nickname} LIMIT 1) as count
	</select>
	
	<select id="idFindToEmailChange" parameterType="String" resultType="User">
		SELECT id FROM user WHERE email = #{email}
	</select>
	
	<select id="pwFindToEmailChange" parameterType="User" >
		UPDATE User SET pw = #{pw} WHERE email = #{email} and id = #{id}
	</select>
	
	<update id="withdrawal">
		UPDATE FROM user where userUUID = #{userUUID}
	</update>
	
	<select id="getUser" parameterType="String" resultType="User">
		SELECT id, nickname, email, birthday, profileImgUrl FROM user WHERE token = #{token}
	</select>
	
</mapper>