<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="glit.onetable.mapper.AuthMapper">
	<insert id="registerInsert" parameterType="User">
		INSERT INTO user (token, id, pw, nickname, email, birthday, regTime) VALUES (#{token}, #{id}, #{pw}, #{nickname}, #{email}, #{birthday}, CURRENT_TIMESTAMP)
	</insert>
	
	<select id="login" parameterType="User" resultType="User">
		SELECT token, userIdx, nickname FROM user where id = #{id} and pw = #{pw}
	</select>
	
	<select id="registerDuplicateId" resultType="int" parameterType="String">
		SELECT EXISTS(SELECT 1 FROM user WHERE id = #{id} LIMIT 1) as count
	</select>
	
	<select id="registerDuplicateEmail" resultType="int" parameterType="String">
		SELECT EXISTS(SELECT 1 FROM user WHERE email = #{email} LIMIT 1) as count
	</select>
	
	<select id="registerDuplicateNickname" resultType="int" parameterType="String">
		SELECT EXISTS(SELECT 1 FROM user WHERE nickname = #{nickname} LIMIT 1) as count
	</select>
	
	<select id="idFindToEmailChange" parameterType="String" resultType="User">
		SELECT id FROM user WHERE email = #{email}
	</select>
	
	<select id="pwFindToEmailChange" parameterType="User" >
		UPDATE user SET pw = #{pw} WHERE email = #{email} and id = #{id}
	</select>
	
	<update id="withdrawal" parameterType="int">
		UPDATE user FROM SET status = 0 WHERE userIdx = #{userIdx}
	</update>
	
	<select id="getUser" parameterType="int" resultType="User">
		SELECT * FROM user WHERE userIdx = #{userIdx}
	</select>
	
</mapper>