<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="glit.onetable.mapper.HomeMapper">

	<select id="popularRecipe" resultType="Recipe">
		select recipeIdx, price, recipeName, nickName, recipeImg FROM recipe_avg_grade GROUP BY recipeIdx ORDER BY AVG(avgGradePoint) DESC limit 0, 15;
	</select>
	
	<select id="countRecipe" resultType="Recipe">
		SELECT recipeIdx, price, recipeName, nickName, recipeImg FROM onetable.recipe_unit order by queryCnt desc, name limit 0, 15;
	</select>
	
	<select id="recentRecipe" resultType="Recipe">
		select recipeIdx, price, recipeName, nickName, recipeImg FROM recipe_price ORDER BY recipeDate DESC limit 0, 15;
	</select>
	
</mapper>