<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="glit.onetable.mapper.HomeMapper">

	<select id="popularRecipe" resultType="RecipeUserPrice">
		select recipeIdx, price, recipeName, nickName, recipeImg FROM recipe_user_price GROUP BY recipeIdx ORDER BY avgGradePoint DESC limit 0, 15
	</select>
	
	<select id="countRecipe" resultType="RecipeUserPrice">
		SELECT recipeIdx, price, recipeName, nickName, recipeImg FROM recipe_user_price order by queryCnt desc, recipeName limit 0, 15
	</select>
	
	<select id="recentRecipe" resultType="RecipeUserPrice">
		select recipeIdx, price, recipeName, nickName, recipeImg FROM recipe_user_price ORDER BY recipeDate DESC limit 0, 15
	</select>
	
</mapper>