<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="glit.onetable.mapper.IngredientMapper">
	<select id='search' parameterType="String" resultType="IngredientSubject">
		SELECT ingredientSubjectIdx, variety FROM ingredient_subject WHERE variety LIKE CONCAT('%',#{query},'%');
	</select>
	
	<select id='searchAll' parameterType="IngredientPriceAll" resultType="IngredientPriceAll">
		SELECT displayName, ingredientItemId, price, priceDate, imgUrl, queryCnt FROM onetable.ingredient_price_all order by queryCnt LIMIT #{limitIndex}, #{limitCnt};
	</select>
	
	<select id='firstSearch' parameterType="String" resultType="int">
		SELECT ingredientSubjectIdx FROM ingredient_subject WHERE variety = #{query};
	</select>
	
	<select id='ingredientQuery' parameterType="int" resultType="Ingredient">
		SELECT displayName, imgUrl FROM ingredient WHERE ingredientSubjectIdx = #{idx};
	</select>
	
	<select id='priceHistroy' parameterType="String" resultType="IngredientPrice">
		SELECT ingredientItemId, price, priceDate FROM ingredient_price WHERE ingredientItemId = #{ingredientItemId} ORDER BY priceDate desc LIMIT 7;
	</select>
	
	<insert id='subjectInsert' parameterType="String">
		INSERT INTO ingredient_subject(variety) VALUES (#{query});
	</insert>
	
	<insert id='ingredientInsert'>
		INSERT INTO ingredient(ingredientItemId, displayName, imgUrl, unitAmount) VALUES (#{query});
	</insert>
	
	<insert id='varietyNotExistsInsert' parameterType="IngredientSubject" useGeneratedKeys="true"  keyProperty="ingredientSubjectIdx">
		INSERT INTO onetable.ingredient_subject (variety) SELECT #{variety} from DUAL WHERE NOT EXISTS (SELECT variety FROM onetable.ingredient_subject WHERE variety = #{variety});
	</insert>

	<insert id='ingredientNotExistsInsert' parameterType="IngredientSubject" useGeneratedKeys="true"  keyProperty="ingredientSubjectIdx">
		
	</insert>
	

</mapper>