<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="glit.onetable.mapper.IngredientMapper">
	<select id='search' parameterType="String" resultType="IngredientSubject">
		SELECT ingredientSubjectIdx, variety FROM ingredient_subject WHERE variety LIKE CONCAT('%',#{query},'%');
	</select>
	
	<select id='ingredientQuery' parameterType="int" resultType="Ingredient">
		SELECT displayName, imgUrl FROM ingredient WHERE ingredientSubjectIdx = #{idx};
	</select>
	
	<select id='priceHistroy' parameterType="String" resultType="IngredientPrice">
		SELECT ingredientItemId, price, priceDate FROM ingredient_price WHERE ingredientItemId = #{ingredientItemId} ORDER BY priceDate desc LIMIT 7;
	</select>
	
	<insert id='subjectInsert' parameterType="String">
		INSERT INTO ingredient_subject(variety) VALUES (#{query});
	</insert>
	
	<insert id='ingredientInsert'>
		INSERT INTO ingredient(ingredientItemId, displayName, imgUrl, unitAmount) VALUES (#{query});
	</insert>
</mapper>