<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="glit.onetable.mapper.IngredientMapper">
<!--  	<select id='search' parameterType="String" resultType="IngredientSubject">
		SELECT ingredientSubjectIdx, variety FROM ingredient_subject WHERE variety LIKE CONCAT('%',#{query},'%');
	</select>
	-->
	<select id='searchAll' parameterType="IngredientPriceAll" resultType="IngredientPriceAll">
		SELECT ingredientItemId, min(displayName) as displayName, min(imgUrl) as imgUrl, min(queryCnt) as queryCnt, min(price) as price, min(priceDate) as priceDate FROM onetable.ingredient_price_all WHERE priceDate in (SELECT MAX(priceDate) FROM onetable.ingredient_price) group by ingredientItemId LIMIT #{limitIndex}, #{limitCnt}
	</select>
	
	<select id='getIngredientSubjectIdx' parameterType="String" resultType="int">
		SELECT ingredientSubjectIdx FROM ingredient_subject WHERE variety = #{query};
	</select>
	
	<select id="ingredientSubjectSearch" parameterType="String" resultType="IngredientSubject">
		SELECT ingredientSubjectIdx FROM ingredient_subject WHERE variety LIKE CONCAT('%', #{variety}, '%');
	</select>
	
	
	<select id='search' parameterType="Search" resultType="IngredientPriceAll">
		SELECT ingredientItemId, displayName, imgUrl, queryCnt, price, priceDate FROM onetable.ingredient_price_all WHERE ingredientIdx in (SELECT ingredientIdx from onetable.ingredient Where displayName like CONCAT('%',#{query},'%')) and priceDate in (SELECT MAX(priceDate) FROM onetable.ingredient_price) LIMIT #{startNum}, #{itemNum}
	</select>
	
	<select id='priceHistroy' parameterType="String" resultType="IngredientPrice">
		SELECT ingredientItemId, price, priceDate FROM ingredient_price WHERE ingredientItemId = #{ingredientItemId} ORDER BY priceDate desc LIMIT 7;
	</select>
	
	<insert id='subjectInsert' parameterType="String">
		INSERT INTO ingredient_subject(variety) VALUES (#{query});
	</insert>
	
	<insert id='ingredientInsert'>
		INSERT INTO ingredient(ingredientItemId, displayName, imgUrl, unitAmount) VALUES (#{query});
	</insert>
	
	<insert id='varietyNotExistsInsert' parameterType="IngredientSubject" useGeneratedKeys="true"  keyProperty="ingredientSubjectIdx">
		INSERT INTO onetable.ingredient_subject (name, categoryNum) SELECT #{variety} from DUAL WHERE NOT EXISTS (SELECT name FROM onetable.ingredient_subject WHERE name = #{variety});
	</insert>

	<insert id='ingredientNotExistsInsert' parameterType="Ingredient" useGeneratedKeys="true"  keyProperty="idx">
		INSERT INTO onetable.ingredient (ingredientItemId, ingredientSubjectIdx, unitIdx, unitAmount, displayName, imgUrl) SELECT #{ingredientItemId}, #{ingredientSubjectIdx}, #{unitIdx}, #{unitAmount}, #{displayName}, #{imgUrl} from DUAL WHERE NOT EXISTS (SELECT ingredientItemId FROM onetable.ingredient WHERE ingredientItemId = #{ingredientItemId});
	</insert>
	
	<select id='unitSearch' parameterType="String" resultType="Int">
		SELECT unitIdx FROM onetable.unit WHERE unitName = #{unitStr};
	</select>
	
	<insert id='insertIngredientPrice' parameterType="IngredientPrice" useGeneratedKeys="true"  keyProperty="ingredientPriceIdx">
		INSERT INTO onetable.ingredient_price (ingredientItemId, price, priceDate) SELECT #{ingredientItemId}, #{price}, CURDATE() from DUAL WHERE NOT EXISTS (SELECT priceDate FROM onetable.ingredient_price WHERE ingredientItemId = #{ingredientItemId} and priceDate = CURDATE());
	</insert>
	

</mapper>