<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="glit.onetable.mapper.RecipeMapper">
	
	<select id='searchCnt' parameterType="String" resultType="int">
		select count(1) from recipe where recipeName LIKE CONCAT('%',#{query},'%')
	</select>
	
	<select id='allCnt' resultType="int">
		select count(1) from recipe
	</select>
	

	<select id="getRecipeComment" parameterType="int" resultType="RecipeComment">
		select * from recipecomment_user where recipeIdx = #{recipeIdx}
	</select>
	
	
	<select id='searchAll' parameterType="Recipe" resultType="RecipeUserPrice">
		SELECT * FROM onetable.recipe_user_price order by recipeDate desc LIMIT #{limitIndex}, #{limitCnt}
	</select>
	
	<!--  레시피재료 테이블에 레시피 아이디로 조회 -->
	<select id='recipeIngredientToRecipeIdx' parameterType="int" resultType="RecipeIngredient">
		SELECT * FROM onetable.recipe_ingredient where recipeIdx = #{recipeIdx};
	</select>
	
	
	<select id='search' parameterType="Search" resultType="RecipeUserPrice">
		SELECT * FROM onetable.recipe_user_price WHERE recipeName LIKE CONCAT('%',#{query},'%') order by recipeDate desc LIMIT #{startNum}, #{itemNum}
	</select>
	

	<insert id='insertRecipe' useGeneratedKeys="true"  keyProperty="recipeIdx">
		INSERT into onetable.recipe (userIdx, recipeName, servingMin, servingMax, recipeImg, cookTimeMin, kcal, recipeDate, category) values (#{userIdx},#{recipeName},#{servingMin}, #{servingMax}, #{recipeImg}, #{cookTimeMin}, #{kcal}, current_timestamp(), #{category} );
	</insert>
	
		<insert id='insertRecipeMethod'>
		INSERT into onetable.recipe_method (recipeIdx, num, img, content) values (#{recipeIdx}, #{num}, #{img},#{content})
	</insert>

	<insert id="insertRecipeIngrdient" parameterType="RecipeIngredient">
		INSERT into onetable.recipe_ingredient (recipeIdx, ingredientIdx, unitIdx, minAmount, result, displayName) values (#{recipeIdx},#{ingredientIdx},#{unitIdx},#{minAmount}, #{result}, #{displayName})
	</insert>
	
	
	
	<!--  unitIdx 로 유닛 테이블 조회 -->
	<select id='getUnitName' parameterType="int" resultType="Unit">
		SELECT * FROM onetable.unit where unitIdx = #{unitIdx} LIMIT 1
	</select>
	
	<select id="ingredientCurrentDayPrice" parameterType="int" resultType="IngredientPrice">
		SELECT * FROM ingredient_price where ingredientIdx=#{ingredientIdx} order by priceDate desc LIMIT 1
	</select>
	
	<select id="getIngredientToItemId" parameterType="int" resultType="Ingredient">
		SELECT * FROM ingredient where ingredientIdx=#{ingredientIdx} LIMIT 1
	</select>
	
	<select id="getUserInfo" parameterType="int" resultType="User">
		SELECT * FROM user where userIdx = #{userIdx}
	</select>
	
	
	
	
	
	
		<select id='detail' parameterType="int" resultType="RecipeUserPrice">
		SELECT * FROM onetable.recipe_user_price WHERE recipeIdx = #{recipeIdx};
	</select>
	
	
	<select id="getMethod" parameterType="int" resultType="RecipeMethod">
		SELECT * FROM onetable.recipe_method where recipeIdx = #{recipeIdx}
	</select>
	
	<select id="recipeIngredientPriceDetail" parameterType="int" resultType="RecipeIngredientPrice">
		select * from recipe_ingredient_price where recipeIdx = #{recipeIdx}
	</select>
	
	
	
	
	
	
	
	
	
	<select id="getUnit" resultType="Unit">
		SELECT * FROM onetable.unit
	</select>
	
	<select id="history" parameterType="int" resultType="Recipe">
		SELECT * FROM onetable.recipe_user_price where userIdx = #{userIdx}
	</select>
</mapper>